nav {
  background-color: gold;
  border: unset;
}

.app-active {
  background-color: #414141;
  border: 1px inset #414141;
}

.app-active>a {
  color: #e5bdf6 !important;
}

a {
  color: black !important;
}
