<div *ngIf="featuredRecipe" class='root metallic scrollable'>
<div class="row app-float-top">
    <div class="col-xs-12 centered">
      <img [src]="featuredRecipe.imagePath" [alt]="featuredRecipe.name" class="image-responsive strong-border">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 centered centered-text">
      <h1>{{featuredRecipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 centered">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn dropdown-toggle functional">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="addToShoppingList()">To Shopping List</a></li>
          <li><a style="cursor: pointer;" (click)="addToRecipes()">Add to Recipes</a></li>
          <li><a style="cursor: pointer;" (click)="addToRecipesAndShoppingList()">To Recipes and Shopping List</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="font-size: large;" class="col-xs-12 centered-text">
      <p *ngIf="timesAddedToShoppingList > 0"><em>Added to Shopping List! (x{{timesAddedToShoppingList}})</em><span style="cursor: pointer; margin-left: 5px; font-size: xx-large; color: green; text-anchor:end;" (click)="addToShoppingList()">+</span></p>
      <hr>
      {{featuredRecipe.description}}
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <strong>Ingredients:</strong>
      <ul style="margin-top: 10px;" class="list-group ing-list">
        <li class="list-group-item metallic-reverse"
            *ngFor="let ingredient of featuredRecipe.ingredients; let i = index"
            (click)="addIngredient(ingredient, i)"
        >-&nbsp;&nbsp;&nbsp;{{ ingredient.name }} - {{ ingredient.amount }}
          <span
            style="float: right;"
            *ngIf="ingIndex[i]"
          >
            <em>Added to Shopping List (x{{ingIndex[i]}})</em>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
