img {
  max-height: 250px;
}

.root {
  width: 100%;
  max-height: 85vh;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.btn-group {
  margin-bottom: 10px;
}

.centered-text {
  text-align: center;
}

.ing-list>li {
  box-shadow: 3px 3px 5px;
  text-align: center;
  border: none;
}

.ing-list>li:hover {
  margin-left: 10px;
}

hr {
  border-top: 5px solid white;
}

.strong-border {
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
