.list-group-item {
  margin-bottom: 10px;
}

a {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border: none;
  opacity: 50%;
}

.app-active {
  opacity: 100%;
}
