<div class="root centered">
  <div class="content metallic">
    <div class="win">
      <h1 *ngIf="victory">Well Done!</h1>
    </div>
    <div class="controls">
      <button *ngIf="!isSolving && !victory && !paused" class="btn success" (click)="solve()">Solve</button>
      <button class="btn danger" [disabled]="newDiscs < 1 || newDiscs > 16" (click)="reset()">Reset</button>
      <input type="number" [(ngModel)]="newDiscs" />
    </div>
    <div class="pegs">
      <div class="peg" (click)="select(0)">
        <button
          (click)="select(0)"
          class="btn success"
          [disabled]="(hasSelected && selection === 0) || victory || isSolving"
        >{{ (hasSelected && selection === 0) ? 'Selected' : 'Select'}}</button>
        <div
          class="disc"
          *ngFor="let disc of pegs[0]"
          [ngStyle]="{ 'min-height': getHeight(), 'max-height': getHeight(), width: getWidth(disc) }"
        ></div>
      </div>
      <div class="peg" (click)="select(1)">
        <button
          (click)="select(1)"
          class="btn success"
          [disabled]="(hasSelected && selection === 1) || victory || isSolving"
        >{{ (hasSelected && selection === 1) ? 'Selected' : 'Select'}}</button>
        <div
          class="disc"
          *ngFor="let disc of pegs[1]"
          [ngStyle]="{ 'min-height': getHeight(), 'max-height': getHeight(), width: getWidth(disc) }"
        ></div>
      </div>
      <div class="peg" (click)="select(2)">
        <button
          (click)="select(2)"
          class="btn success"
          [disabled]="(hasSelected && selection === 2) || victory || isSolving"
        >{{ (hasSelected && selection === 2) ? 'Selected' : 'Select'}}</button>
        <div
          class="disc"
          *ngFor="let disc of pegs[2]"
          [ngStyle]="{ 'min-height': getHeight(), 'max-height': getHeight(), width: getWidth(disc) }"
        ></div>
      </div>
    </div>
  </div>
</div>
