hr {
  border-top: 1px solid #e5bdf6;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centered>button {
  background-color: #e5bdf6;
  color: black;
  width: 75%;
}

.row {
  /* width: 20vw; */
}

.root {
  max-height: 75vh;
}
